.itemsContainer {
    background-color: lightslategrey;
    height: auto;
}
.itemTable {
    display: flex;
    flex-wrap: wrap;
}
h1 {
    font-size: 48px;
    color: white;
    font-family: georgia;
    text-shadow: 2px 2px black;
    margin-bottom: 20px;
    margin-top: 0px;
}
.itemTitle {
    color: lightskyblue;
}
.cardRoot2 {
    width: 400px;
    background-color: lightgray;
}
.cardMedia2 {
    height: 180px;
    background-image: url(../images/pricetag.jpg);
}
.itemContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.itemForm {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.itemGroup {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}